---
// Component imports
import { Main as Layout } from "@layouts/Main"
---

<Layout title="On The Dodge">
  <section class="p-6 flex-1 flex flex-col justify-between border-2 border-red-900">
    <div
      class="max-w-xl mx-auto flex flex-col justify-center flex-1 space-y-10 border-2 border-blue-900"
    >
      Example
      <span>Example 2</span>
    </div>
  </section>
</Layout>
